/* Iniciamos estilos personalizados  */
/* Definición Variables
 definimos familia de fuente que voy a utilizar */
:root{
    --mx-width: 1320px;
    --color-text-body:  #525260; /* cambio de black a este color */
    --color-primary: #5956e9;
    --color-secondary: #fff;
    --color-banner: #2522BA;
    --color-text-btn: #0d6efd;
    --color-bg-btn: #ffdc60;
    --color-subtitle: #c75c6f;
    --color-title: #292930;
    --color-bg-services: #f8f8f8;
    --color-bg-projects: #ecf2f6;
    --color-bg-dark: #27272E;
    --color-text-description: #99A1AA;
    --color-hover-dark: #303035;
    --color-borders: #e3e6e9;
}


/* Estilos Generales */
html{
    /* para un tema de accesibilidad y poder trabajar con rem */
    /* font-size: 10px; */
    /* Accesibilidad,... si el usuario nos cambia el tamaño de fuente */
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem; /* serán 16px porque he asignado font-size a 10px */
    font-family: 'DM Sans', '18 Century', sans-serif;
    font-weight: 400; /* grosor de la fuente, +/- tamaño normal */
    line-height: 1.5;
    color: var(--color-text-body);
}

/* Estructura */
/* a nivel de layout toda mi arquitectura está definida en 1 única columna
No es necesario flotar los elementos (ni con float, flex, grid, grid-areas */
.layout{
    width: 100%;
    min-width: var(--mx-width);
}

/* Estilos menú navegación */
.layout__menu{
    width: 100%;
    padding: 3.5rem 3rem; /* padding superior y lateral */
}
.menu__navbar{
    /* Grid + aling/justify */
    display: grid;
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    grid-template-columns: 1fr 0fr 0fr;
    /* grid-template-columns: 70% 20%; */
    align-items: center;
    width: 100%;
=======
    grid-template-columns: 1fr 0fr 1fr;

>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}

.navbar__logo{
    margin-left: 40px;
    width:187px; /* no utilizo rem para que se mantenga el tamaño */
}
.nav__list{
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    /* Grid + aling/justify */
=======
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.nav__item{
    /* position */
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    position: relative; /* con esto no alteramos la posición natural de los elementos
    y si incluimos algo dentro (pseudoelemento after, before,...) se queda dentro de los
    límites de mi caja,...*/
    margin: 0 2.4rem;
}
.nav__title{
    /* position */
    position: relative;
    /* display: inline-block; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
=======
    /* El padre tendra la posición relativa y al hijo le ponemos la absoluta */
    position: relative;
    margin: 0 2.4rem;
}
.nav__title{
    /* Ubicamos título e icono */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    position: relative;
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    line-height: 6rem;
    font-weight: 500;
    color: var(--color-text-body);
    /* efecto */
    transition: all 300ms ease-in-out;
}
.nav__title i{
    margin-left: 5px;
}

.nav__icon{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.2rem; /* margen interior con la opción del menú */
    vertical-align: middle;
}

/* efecto */
.nav__title:hover{
    color: var(--color-primary);
    transform: scale(1.1);
}

<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
/* pseudoelemento para el menú */
.nav__title::before{
    content: "";
=======
/* Pseudoelemento para subrayado en el menu */
/* ::before hace que lo que pongamos se ponga "antes" del elemento en sí */
.nav__title::before {
    content:"";
    position: absolute;
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    height: 0.2rem;
    width: 0;
    background-color: var(--color-primary);
    position: absolute;
    bottom: 1.2rem;
    left: 0;
    opacity: 0;
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    transition: all 300ms linear;
=======
    transition: all 350ms linear;

>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}
.nav__title:hover::before{
    width: 100%;
    opacity: 1;
}

.nav__submenu{
    /* position */
    display: block;
    position: absolute;

    top: 100%;
    left: 2rem;
    
    min-width: 19rem;
    padding: 1.5rem 1rem;
    background-color: var(--color-secondary);
    box-shadow: 0px 13px 48px 0 rgba(0,0,0,15%);
    
    /* visibility, opacity y efecto */
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

.submenu__item{
    /* efecto */
    opacity: 0;
    transform: translateX(3rem);
    transition: all 500ms ease-in-out
}
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
/* efecto. Consigo que los elementos se ubiquen con delay */
.submenu__item:nth-child(1){
    transition-delay: 100ms;
=======

/* efecto */
/* nth-child() Elijo al hijo que quiero tocar */
.submenu__item:nth-child(1) {
   transition-delay: 100ms; 
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}
.submenu__item:nth-child(2){
    transition-delay: 200ms;
}
.submenu__item:nth-child(3){
    transition-delay: 300ms;
}
.submenu__item:nth-child(4){
    transition-delay: 400ms;
}
.submenu__item:nth-child(5){
    transition-delay: 500ms;
}

.submenu__title{
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    /* position */
    position: relative;

=======
    /* position */ 
    position: relative;
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    font-size: 1.4rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-body);
    padding: 0.7rem 1.5rem;
    
    /* efecto */
    transition: all 300ms ease-in-out;
}

<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
/* efectos varios */
.nav__item:hover>.nav__submenu{
    opacity: 1;
    visibility: visible;
    z-index: 99;
    left: 0;
}
.nav__item:hover>.nav__submenu>.submenu__item{
    /* efecto */
    opacity: 1;
    transform: translateX(0);
    /* visibility: visible; */
=======
/* Efectos varios */
/* Efecto en la caja escondida en sí */
.nav__item:hover>.nav__submenu {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    /* Para vaya un poco de der a izq */
    left: 0;
}
/* Efecto en los elementos de la caja */
.nav__item:hover>.nav__submenu>.submenu__item {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;

>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}
.submenu__title:hover{
    color: var(--color-primary);
    /* transform: scale(1.1);     */
}
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css

.submenu__item::after{
=======
.submenu__item::before {
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: var(--color-primary);
    position: absolute;
    bottom: 0.5rem;
    opacity: 0;
    left: 35%;
    transition: all 300ms linear;
}
/* El subrayado de los elementos será acorde al with del texto de cada elemento del submenú */
.submenu__item:hover:nth-child(1)::after{
    width: 52%;
    opacity: 1;
    left: 8%;
}
.submenu__item:hover:nth-child(2)::after{
    width: 64%;
    opacity: 1;
    left: 8%;
}
.submenu__item:hover:nth-child(3)::after{
    width: 79%;
    opacity: 1;
    left: 8%;
}
.submenu__item:hover:nth-child(4)::after{
    width: 49%;
    opacity: 1;
    left: 8%;
}

/* Estilos para el Banner */
.layout__banner{
    /* position */
    position: relative;
    min-height: 60rem;
    /*border: 2px solid red; */
    margin: 0 3rem;
    padding-right: 0;
    padding-left: 10rem;
    padding-top: 15rem;
    padding-bottom: 20rem;
    border-radius: 60px;
    background-color: var(--color-banner);
    z-index: 1;
    overflow: hidden;
}
.banner__content{
    /* position */
    position: relative;
    display: inline-block;

    width: 50%;
    padding: 0 1.5rem;
    z-index: 3;
}
.banner__title{
    font-size: 8rem;
    font-weight: 700;
    color: var(--color-secondary);
}
.banner__btn{
    display: inline-block;
    padding: 2.8rem 4.5rem;
    border-radius: 20px;
    background-color: var(--color-secondary);
    color: var(--color-text-btn);
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center;
    box-shadow: 0px 45px 70px -25px var(--color-primary);
    /* efecto */
    transition: all 300ms ease-in-out;
}
/* efecto */
.banner__btn:hover{
    background-color: var(--color-bg-btn);
    color: var(--color-bg-dark);
    /* sombra */
    box-shadow: 2px 2px 8px 0 var(--color-bg-btn), 4px 4px 24px 0 black, 0px 0px 48px 2px yellow;
}

.shapes__item{
    /* position y z-index */
    position: absolute;
    z-index: 2;
    pointer-events: none;
}
.shapes__item--shape1{
    /* position y animación */
    top: 0;
    right: 0;
    animation-name: muestraDerecha;
    animation-duration: 2s;
}
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
@keyframes muestraDerecha{
    0%{
        transform: translateX(100%);
=======
@keyframes muestraDesdeDerecha {
    from {
        transform: translateX(70%);
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    }
    100%{
        transform: translateX(0px);
    }
}

.shapes__item--shape2{
    /* position y animación */
    bottom: 0;
    left: 0;
    animation-name: muestraIzquierda;
    animation-duration: 2s;
}
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
@keyframes muestraIzquierda{
    0%{
        transform: translateX(-50%);
=======
@keyframes muestraDesdeIzquierda {
    from {
        transform: translateX(-70%);
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    }
    100%{
        transform: translateX(0px);
    }
}

.shapes__item--shape3{
    /* position y animación */
    top: 34%;
    left: 50%;
    animation: mueveShape3 20s infinite;
}
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
@keyframes mueveShape3{
    0%{
        transform: translateX(0) translateY(0);
    }
    35%{
        transform: translateX(50px) translateY(-200px);
    }
    70%{
        transform: translateX(800px);
    }
    100%{
        transform: translateX(0) translateY(0);
=======
@keyframes mueveShape3 {
    0% {
        transform: translateX(0%) translateY(0%);
    }
    33% {
        transform: translateX(50px) translateY(-200px);
    }
    66% {
        transform: translateX(800px) translateY(0%);
    }
    100% {
        transform: translateX(0%) translateY(0%);
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    }
}

.shapes__item--shape4{
    bottom:24rem;
    left:45%;
    animation: mueveShape4 20s infinite;
}
.shapes__item--shape4 .shapes__img{
    opacity: 0.5;
    width: 7.5rem;
}

@keyframes mueveShape4 {
    0% {
        transform: translateX(0%) translateY(0%) perspective(0) translateZ(100%);
    } 33% {
        transform: translateX(50px) translateY(-200px) perspective(500px) translateZ(-500px);
    } 66% {
        transform: translateX(800px) translateY(-100px) perspective(500px) translateZ(-100px);
    } 85% {
        transform: translateX(400px) translateY(-50px) perspective(500px) translateZ(-60px);
    } 100% {
        transform: translateX(0%) translateY(0%) perspective(500px) translateZ(100%);
    }
}

.shapes__item--shape5{
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    bottom:12rem;
    left:53%;
=======
    bottom: 12rem;
    left: 53%;
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    opacity: 0.7;
    animation: mueveShape5 40s infinite;
}
@keyframes mueveShape5{
    0%{
        transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
    }
    35%{
        transform: translateX(-600px) translateY(-500px);
        -webkit-transform: translateX(-600px) translateY(-500px);
        -moz-transform: translateX(-600px) translateY(-500px);
        -ms-transform: translateX(-600px) translateY(-500px);
        -o-transform: translateX(-600px) translateY(-500px);
    }
    70%{
        transform: translateX(-800px);
        -webkit-transform: translateX(-800px);
        -moz-transform: translateX(-800px);
        -ms-transform: translateX(-800px);
        -o-transform: translateX(-800px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

.shapes__item--shape6{
    bottom:10rem;
    left:40%;
    animation: mueveShape4 30s infinite;
    -webkit-animation: mueveShape4 30s infinite;
}
.shapes__item--shape7{
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    /* position y animación */
    top:0;
    right: 10rem;
    z-index: 1;
    animation-name: muestraArriba;
    animation-duration: 2s;
}
@keyframes muestraArriba{
    0%{
        transform: translateY(-50%);
=======
    top: 0%;
    right: 5.5%;
    z-index: 4;
    animation-name: muestraDesdeArriba;
    animation-duration: 2s;
}
@keyframes muestraDesdeArriba {
    from{
        transform: translateY(-70%);
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    }
    100%{
        transform: translateY(0%);
    }
}

/* Estilos sección Servicios */
.layout__services{
    /* position y z-index */
    position: relative;
    z-index: 1;

    margin: 14rem 10rem;
    margin-bottom: 4rem;
    /* border: 1px solid red; */
}
.services__container{
    max-width: var(--mx-width);
    margin: 0 auto;
}
.services__header{
    margin-bottom: 2rem;
    text-align: left;
}
.services__subtitle,
.projects__subtitle,
.stats__subtitle,
.reviews__subtitle,
.clients__subtitle,
.news__subtitle{
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-subtitle);
    margin-bottom: 1.5rem;
}
.services__title,
.projects__title,
.stats__title,
.reviews__title,
.news__title{
    font-size: 6.7rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-title);
}
.services__list{
    /* Grid */

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 3rem; /* separación entre los elementos */
}
.services__service{
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 2.5fr;

    height: 55%;
    padding: 5rem 4rem;
    margin-bottom: 4rem;
    border-radius: 3rem;
    background: linear-gradient(180deg, var(--color-bg-services), rgba(255,255,255,0));
    background-color: var(--color-secondary);
    border: 1px solid;
    border-image-source: linear-gradient(90deg, var(--color-bg-services), rgba(255,255,255,0));
    /* efecto */
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    transition: all 300ms linear;
}
.services__service:hover{
    background-color: var(--color-bg-services);
=======
    transition: all 200ms linear
}
.services__service:hover {
    background-color: var(--color-borders);
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}

.service__container-img{
    margin-right: 2.5rem;
    max-width: 8.5rem;
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    /* Relacionado con flex grow y flex basis. En grid no es necesario cambiar el tamaño aquí */
}
=======
    /* Relacionado con flex grow y flex basis */
    /* transition: all 500ms ease-in-out */
}
.service__container-img {
    margin-right: 2.5rem;
    max-width: 8.5rem;
    /* Relacionado con flex grow y flex basis */
}
.service__img:hover {
    transform: scale(1.4);
}

>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
.service__content{
    /* Relacionado con flex grow y flex basis. En grid no es necesario cambiar el tamaño aquí  */
    
}
.service__title{
    color: var(--color-title);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 3rem;
    /* efecto */
    transition: all 300ms ease-in-out
}
.service__description{
    overflow: hidden;
    font-size: 1.7rem;
    margin-bottom: 4rem;
}
.service__more{
    /* position */
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 1.7rem;
    padding-left: 5rem;
    /* efecto */
    transition: all 300ms linear;
}

<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
/* pseudoelemento before service__more */
.service__more::before{
=======
/* pseudoelemento before */
.service__more::before {
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    content: "";
    width: 3.4rem;
    height: 1.5px;
    background-color: var(--color-text-body);
    position: absolute;
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    left:0;
    /* top:10%; */
    bottom: 50%;
=======
    left: 0;
    bottom: 50%;
    /* Efecto */
    transition: all 500ms linear;
}
.service__more:hover::before{
    background-color: var(--color-primary);
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}

.service__more:hover,
.service__title:hover{
    color: var(--color-primary);
}
.service__more:hover::before{
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    background-color: var(--color-primary);
=======
    color: var(--color-primary);
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}

/* para generar el escalonado de las tarjetas de servicios */
.services__service--bottom{
    margin-top: 20rem;
}
.services__service--middle{
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    margin-top: 10rem;
=======
    margin-top: 100px;
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}
.services__service--top{
    margin-top: 0rem;
}

/* coloco a las formas detrás de los servicios */
.service-shapes__item{
    /* position y z-index */
    position: absolute;
    z-index: -1;
    pointer-events: none;
}
.service-shapes--shape1{
    /* position */
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    top:-10%;
    right: 26%;
=======
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}
.service-shapes--shape2{
    /* position */
    opacity: 0.6;
    top: 0%;
    right: 30%;
}
.service-shapes--shape3{
    /* position y animación */
    opacity: 0.4;
    top: 27%;
    right: 31%;
    animation: mueveBolaRosita 10s infinite;
}
/* opción 1 */
/* @keyframes mueveBolaRosita {
    0%{
        transform: translateX(0) translateY(0);
    }
    25%{
        transform: translateY(450px);
    }
    50%{
        transform: translateX(250px) translateY(450px);;
    }
    70%{
        transform: translateX(350px) translateY(150px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
} */
@keyframes mueveBolaRosita {
    100% {
        transform: rotate(360deg) translateX(300px) rotate(-360deg) translateX(-300px);
    }
}

/* Estilos para la sección de Proyectos */
.layout__projects{
    /* position y z-index */
    position: relative;
    z-index: 1;
    background-color: var(--color-bg-projects);
    padding: 14rem 10rem;
}
.projects__container{
    max-width: var(--mx-width);
    margin: 0 auto;
}
.projects__header{
    margin-bottom: 4rem;
}
.projects__subtitle{
    text-transform: capitalize;
}
.projects__categories{
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    z-index: 1;
=======
    /* Flex */
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css

    gap: 7rem;
    margin-bottom: 5.5rem;
}
.categories__item{
    /* position */
    position: relative;

    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.8rem 0;
    /* efecto */ 
    transition: all 300ms linear;
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
}

.projects__all{
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 0; */
    gap: 4rem 7rem;
}
.projects__project{
    width: calc(100% - 3.5rem); 
    /* consigo que mis tarjetas tengan un tamaño variable. Facilita el responsive */
=======
}
.categories__item:hover{
    /* Efecto */
    color: var(--color-primary);
    transform: scale(1.1);
}

.projects__all{
    /* flex */

    gap: 4rem 7rem;
}
.projects__project{
    width: calc(50% - 3.5rem); /* consigo que mis tarjetas tengan un tamaño variable. Facilita el responsive */
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}

/* Subrayado mediante pseudoelemento before */
.categories__item::before{
    content: "";
    height: 0.2rem;
    width: 0%;
    background-color: var(--color-primary);
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    opacity: 0;
    transition: all 300ms linear;
}
/* opción 1. subrayados todos por igual en cuanto al tamaño */
.categories__item:hover::before{
    opacity: 1;
    width: 95%;
}
/* El subrayado de los elementos será acorde al with del texto de cada elemento del submenú */
.categories__item:hover:nth-child(1)::before{
    width: 95%;
    opacity: 1;
}
.categories__item:hover:nth-child(2)::before{
    width: 80%;
    opacity: 1;
}
.categories__item:hover:nth-child(3)::before{
    width: 85%;
    opacity: 1;
}
/* Subrayado mediante border-bottom */ 
/*   .categories__item--active, 
 .categories__item:hover{
    border-bottom: 3px solid var(--color-primary);
} */

.project__container-img{
    width: 100%;
    border-radius: 3rem 3rem 0 0;
    overflow: hidden;
}
.project__img{
    width:100%;
    /* efecto */
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    transition: all 2s ease-in-out;
}
.project__container-img:hover .project__img{
/* .projects__project:hover .project__img{ */
    transform: scale(1.2);
=======

>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}

.project__content{
    padding: 4rem 5rem;
    background-color: var(--color-secondary);
    border-radius: 0 0 30px 30px;
}
.project__title{
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-title);
    margin-bottom: 1rem;
    /* efecto */
    transition: all 300ms linear;
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
=======
}
.project__title:hover{
    color: var(--color-banner);
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
}
.project__title:hover{
    color: var(--color-banner);
}

.project__tags{
    font-size: 1.7rem;
}
.project-shapes__item{
    /* position y z-index */
    position: absolute;
    z-index: -1;

    pointer-events: none;
}
.project-shapes--shape1{
    top: 4%;
    right: 11%;
    opacity: 0.5;
}
.project-shapes--shape2{
    top: 8%;
    right: 35%;
    opacity: 0.3;
    animation: mueveBolaRosita 20s infinite;
}
.project-shapes--shape3{
    top: 90px;
    right: 200px;
    opacity: 0.5;
    animation: mueveBolaRosita 40s infinite;
}
@keyframes moveProjectShape{
    0%{
        transform: translateX(0) translateY(0);
    }
    35%{
        transform: translateX(150px) translateY(-50px);
    }
    70%{
        transform: translateX(-50px) translateY(100px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

/* Estilos para estadísticas y Mejores clientes */
.layout__stats,
.layout__clients{
    background-color: var(--color-bg-dark);
    padding: 14rem 10rem;
}
.stats__container,
.clients__container{
    max-width: var(--mx-width);
    margin: 0 auto;
}
.stats__header{
    text-align: center !important;
}
.stats__title,
.clients__title{
    color: var(--color-secondary);
    font-size: 6.4rem;
    margin-bottom: 3rem;
}
.stats__description,
.clients__description{
    font-size: 2rem;
    width: 48%;
    margin: 0 auto 4rem;
    color: var(--color-text-description);
}
.stats__progress{
<<<<<<< HEAD:08-MaquetacionAgenciaWeb/MaquetacionAgenciaWeb/assets/css/estilos.css
    /* Grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-items: center; */ 
=======
    /* Flex */
    
>>>>>>> 24633cdb02e62895fe7b444365017c0c249a72d6:08-MaquetacionAgenciaWeb/assets/css/estilos.css
    gap: 3rem;
}
.stats__stat{
    /* width: 25%; no es necesario en la distribución mediante grid */
    text-align: center;
    padding: 7rem 2rem;
    border-radius: 2rem;
    border: 1px solid transparent; /* inapreciable */
}
/* efecto */
.stats__stat:hover{
    background: linear-gradient(180deg,var(--color-bg-dark), grey);
    border: 1px solid var(--color-hover-dark);
}

.stat__icon>img{
    margin: 0 auto;
    text-align: center;
}
.stat__count{
    display:inline-block;
    text-align: center;
    font-size: 6.4rem;
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}
.stat__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-secondary);
}

/* Estilos para Reseñas */
.layout__reviews{
    /* position y z-index */
    position: relative;
    z-index: 1;
    padding-top: 7rem;
    padding-bottom: 5rem;
}
.reviews__container{
    max-width: var(--mx-width);
    margin: 0 auto;
    gap: 2rem;
}
.reviews__header{
    text-align: left;
    margin-bottom: 3rem;
}
.reviews__description,
.news__description{
    margin: 2rem 0;
    width: 50%;
    font-size: 2rem;
}
.reviews__content{
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 2rem;
}
.reviews__review{
    padding-top: 2rem;
    padding-bottom: 2rem;

    /* asigno mismo tamaño a nivel de fila para alinear */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.review__company{
    display: inline-block;
    margin-bottom: 3rem;
}
.review__description{
    font-size: 2.4rem;
    line-height: 1.2;
    color: var(--color-bg-dark);
    margin-bottom: 4rem;
}
.review__author{
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 9fr;
}
.review__img{
    width: 50px;
    height: 50px;
}
.author__container-img{
    border-radius: 90px;
    overflow: hidden;
    /* width:10%; */
}
.author__name{
    display: block; /* creo un salto de línea */
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--color-bg-dark);
    margin-bottom: 0.3rem;
    margin-left: 2rem;
}
.author__description{
    display: block;
    font-size: 1.5rem;
    color: var(--color-text-description);
    opacity: 0.9;
    margin-left: 2rem;
}
.review-shapes__item{
    /* position + z-index */
    pointer-events: none;
    position: absolute;
    z-index: -1;
    top: 10%;
    right: 14%;
    opacity: 0.5;
}

/* Estilos zona Mejores Clientes */
.layout__clients{
    /* position + z-index */
    position: relative;
    z-index: 1;
}
.clients__header{
    text-align: left;
}
.clients__title{
    width: 60%;
    line-height: 1.2;
    font-weight: 500;
}
.clients__description{
    width: 50%;
    text-align: left;
    margin: 0;
    margin-bottom: 6rem;
}
.clients__logos{
    /* Grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

    gap: 3rem;
}
.clients__item{
    /* Flex-basis. En grid no es necesario cambiar el tamaño aquí  */
    display: flex;
    justify-content: center;
}
.clients__img{
    filter: grayscale(25%);
    opacity: 0.5;
    
    /* efecto */
    transition: all 500ms ease-in-out;
}
.clients__item:hover > .clients__img{
    filter: grayscale(0%);
    opacity: 1;
    cursor: pointer;
}
.client-shapes__item{
    /* position + z-index */
    position: absolute;
    z-index: -1;
    top: 10%;
    right: 0;
    /* width: 60%; */

}

/* Estilos últimas noticias */
.layout__news{
    /* position + z-index */
    position: relative;
    z-index: 1;

    padding: 14rem 0;
}
.news__container{
    max-width: var(--mx-width);
    margin: 0 auto;
}
.news__header{
    text-align: center;
    margin-bottom: 6rem;
}
.news__title{
    /* color: var(--color-bg-dark); */
    margin-bottom: 3rem;
}
.news__description{
    text-align: center;
    margin: 0 auto;
}
.news__list{
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.news__new{
    /* Grid + align */
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    padding-left: 0;
    border-top: 1px solid var(--color-borders);
    border-bottom: 1px solid var(--color-borders);
    /* efecto */
    transition: all 300ms ease-in-out;
}
.news__new:hover{
    /* border-top-color: var(--color-primary); */
    border-top: 2px solid var(--color-primary);
    border-top-color: var(--color-primary);
}
.news__new:last-child{
    border-left: 1px solid var(--color-borders);
    padding-left: 2.5rem;
}

.news__container-img{
    overflow: hidden;
    border-radius: 3rem;
}
.new__img{
    border-radius: 3rem;

    /* efecto */
    transition: all 2s ease-in-out;
}

.news__new:hover .new__img{
    transform: scale(1.1);
}

.new__content{
    /* Grid */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.new__title{
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 700;
    color: var(--color-title);
    margin-bottom: 2rem;
    /* efecto */
    transition:all 300ms ease-in-out;
}

.new__title:hover,
.new__more:hover{
    color: var(--color-primary)
}

.new__description{
    font-size: 1.7rem;
    font-weight: normal;
    color: var(--color-subtitle);
    margin-bottom: 3rem;
}
.new__more{
    display: inline-block;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--color-hover-dark);
    /* efecto */
    transition: all 300ms ease-in-out;
}
.new__icon{
    font-size: 1.3rem;
    vertical-align: middle;
}
.new-shapes__item{
    /* position y z-index */
    position: absolute;
    z-index: -1;
}
.new-shapes--shape1{
    top: 14rem;
    left: 31.5rem;
    opacity: 0.7;
}
.new-shapes--shape2{
    right: 0;
    top:12rem;
    opacity: 0.7;
}
.new-shapes--shape3{
    bottom: 5rem;
    left: 0;
    opacity: 0.7;
}
.new-shapes--shape4{
    bottom: 8rem;
    right: 16rem;
    opacity: 0.7;
}

/* Estilos para la sección de Contacto */
.layout__contact{
    /* position + z-index */
    position: relative;
    z-index: 1;

    overflow: hidden;
    padding: 0; /* inicializo a 0 */
    padding-top: 14rem;
    padding-bottom: 10rem;
    /* background-color: var(--color-primary); */
}
/* pseudoelemento before */
.layout__contact::before{
    content: "";
    position: absolute;
    width:100%;
    height: 70rem;
    top: 0;
    left:0;
    right: 0;
    background-color: var(--color-primary);
    z-index: -1;
}

.contact__container{
    max-width: var(--mx-width);
    margin: 0 auto;
    overflow: hidden;
}
.contact__header{
    margin-bottom: 6.5rem;
    text-align: center;
}
.contact__subtitle{
    display: inline-block;
    color: var(--color-bg-btn);
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.contact__title{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5.5rem;
    font-size: 6.4rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-secondary);
}
.contact__btn{
    display: inline-block;
    /* position + z-index */
    position: relative;
    z-index: 1;

    overflow: hidden;
    padding: 2.3rem 5.5rem;
    background-color: var(--color-secondary);
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    /* efecto */
    transition: all 500ms ease-in-out;
}

.contact__btn:hover{
    background-color: var(--colog-bg-btn);
}

.contact__images{
    /* position */
    position: relative;
    text-align: center;
    border-bottom: 1px solid var(--color-borders);
}
.contact__thumb{
    display: inline-block;
}
.contact__thumb--chat{
    margin-right: -18rem;
    margin-bottom: -0.8rem;
}
.contact__thumb--laptop{
    position: absolute;
    bottom: 0;
    left: 16rem;
}
.contact__thumb--mobile{
    position: absolute;
    bottom: 0;
    right: 12rem;
}
.backshapes__item{
    position:absolute;
    z-index: -1;
}
.backshapes--shape1{
    top:0;
    left: 32%;
}
.backshapes--shape2{
    top:18rem;
    left: 18%;
    opacity: 0.5;
    animation: mueveShape3 20s infinite;
}
.backshapes--shape3{
    top:31%;
    left: 20%;
    animation: mueveShape4 25s infinite;
}
.backshapes--shape4{
    top: 44%;
    left: 17%;
    animation: mueveShape3 30s infinite;
}
.backshapes--shape5{
    top: 50%;
    right: 21%;
    animation: mueveShape4 30s infinite;
}
.backshapes--shape6{
    top: 26%;
    left: 35%;
    animation: mueveShape3 35s infinite;
}
.backshapes--shape7{
    top: 25%;
    right: 10%;
    animation: mueveShape4 35s infinite;
}

/* Estilos del Pié de Página */
.layout__footer{
    padding-top: 1rem;
}
.footer__container{
    max-width: var(--mx-width);
    margin: 0 auto;
}
.footer__top{
    padding-bottom: 4rem;
    
}
.footer__social{
    /* Grid + justify + align */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.social__link{
    text-align: center;
}
.social__img{
    display: inline-block;
    color: var(--color-text-description);
    font-size: 3rem;
    padding: 0.5rem;
    /* efecto */
    transition: all 500ms ease-in-out;
}

.footer__main{
    /* Grid */
    display: grid;
    grid-template-columns: 4fr 3fr;
}
.footer_fleft{
    /* Grid */
}
.fleft__container{
    border-right: 1 px solid var(--color-borders);
    padding-right: 8rem;
    margin-right: 4rem;
    margin-bottom: 8rem;
}
.fleft__title{
    display: inline-block;
    font-size: 6.4rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-title);
    margin-bottom: 2rem;
}
.fleft__subtitle{
    font-size: 1.7rem;
    margin-bottom: 4rem;
}
.form__group{
    /* position */

    /* Grid + align */
    display: grid;
    grid-template-columns: 0.5fr 8fr 2fr;
    align-items: center;
    
    background-color: var(--color-secondary);
    border-radius: 20px;
    height: 7.2rem;
    padding: 1rem;
    box-shadow: 0 24px 48px -15px var(--color-borders);
    
}
.form__mail-icon{
    display: inline-block;
    margin-left: 2rem;
}
.form__form-control{
    /* position */

    /* Grid */
    display: grid;
    grid-template-columns: 2fr 1fr;

    display: block;
    padding: 0.5rem 1.5rem;
    height: auto;
    border: none;
    outline: none;
    color: var(--color-title);
    margin-left: 1rem;
}
.form__btn{
    cursor: pointer;
    height: 5.2rem;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 16px;
    padding: 1rem 3rem;
    /* efecto */
    transition: all 500ms ease-in-out;
}
.form__btn:hover{
    background-color: var(--color-banner);
}

.footer__fright{
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.footer__widget{
    /* Flex-basis. En grid no es necesario cambiar el tamaño aquí  */

}
.widget__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-title);
    margin-bottom: 3rem;
}
.widget__link{
    font-size: 1.8rem;
    padding: 0.8rem 0;
    display: inline-block;
    /* efecto */
}

.footer__bottom{
    /* Grid */
    display: grid;
    grid-template-columns: 7fr 3fr;

    border-top: 1px solid var(--color-borders);
    padding: 2.5rem 0;
    
}
.footer__copyright{
    /* flex-basis. En grid no es necesario cambiar el tamaño aquí  */
}
.copyrigth__text{
    display: inline-block;
    color: var(--color-text-body);
}
.copyrigth__text > a{
    display: inline;
}
.footer__links{
    /* flex-basis. En grid no es necesario cambiar el tamaño aquí  */
}
.footer__flinks{
    /* position */
    position: relative;

    /* Grid */
    display: grid;
    grid-template-columns: 2fr 1fr;

    gap: 2rem;
}
.flinks__title{
    /* efecto */
    transition: all 300ms ease-in-out;
}
.flinks__title:hover{
    color: var(--color-banner);
}

/* pseudoelemento after */
.flinks__item--separator::after{
    content:"";
    height: 4px;
    width: 4px;
    background-color: var(--color-text-body);
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 55%;
}
